body
{
	background:  #E6E6E6;
	line-height: 1.3em;
	font-size: 1.1em;
	font-family: corps;
}

h1, h2, h3, h4, h5, h6
{
	font-family: titres;
}

/* En-têtes */

#header-wrapper
{
	color: white;
	box-shadow: 0px 2px 2px black;
	margin-bottom: 20px;
}

nav
{
	text-align: right;
	background: #090940;
}

nav ul
{
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 5%;
}

nav li
{
	display: inline;
	padding-right: 4px;
	padding-left: 4px;
}

nav a
{
	text-decoration: none;
	color: white;
}

header
{
	height: 190px;
	width: 100%;
	box-shadow: 0px 2px 2px black;
	text-align: left;
	background: #121250;

}

header h1
{
	padding-left: 150px;
	font-size: 5em;
}

header h1 img
{
	position: relative;
	top: 26px;
}

/* Contenus */

#content_wrapper
{
	margin: auto;
	width: 70%;
}

#content_left, #content_right
{
	float: left;
	width: 48%;
	padding: 1%;
	margin-bottom: 20px;
}

#content_center
{
	width: 60%;
	padding: 1%;
	margin: auto;
	margin-bottom: 20px;
}

.content
{
	background: #F0F0F0;
	color: 525252;
	padding: 15px;
	border: 4px ridge black;
	box-shadow: 0px 0px 2px black inset;
}

.content h2
{
	font-size: 2em;
	color: black;
	margin-bottom: 10px;
}

a
{
	color: #080830;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

/* Pied de page */

footer a
{
	color: #511100;
}

#footer_wrapper
{
	width: 100%;
	background: ;
	text-align: center;
	clear: both;
	background: #DADADA;
	box-shadow: 0px 0px 2px #DADADA;
	padding-bottom: 9px;
}

footer
{
	border-top: 2px groove black;
	padding: 10px;
	width: 97%;
	margin: auto;
}

@font-face
{
	font-family: titres;
	src: url(font/IstokWeb-Regular.ttf);
}

@font-face
{
	font-family: corps;
	src: url(font/Alice-Regular.ttf);
}
